<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Produto Detalhado</h1><br>
    <h2>Nome: {{ object.name }}</h2><br>
    <h3>Quantidade: {{ object.quant }}</h3><br>
    <h3>Preço: R$ {{ object.preco }}</h3><br>
    <h3>Descrição: {{ object.descricao }}</h3><br>
    <br>
    <a href="{% url 'atualizar_produto' object.id %}">Atualizar</a>
    <br>
    <a href="{% url 'deletar_produto' object.id %}">Deletar</a>
</body>
</html>