{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Cadastro de Clientes{% endblock %}

{% block main %}
    <h2>Cadastro de Clientes</h2>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.first_name|bootstrap }}
        {{ form.last_name|bootstrap }}

        <div class="row">
            <div class="col-sm-6">
                {{ form.dt_nasc|bootstrap_horizontal:'col-lg-8' }}
            </div>
            <div class="col-sm-6">
                {{ form.salary|bootstrap_horizontal:'col-lg-8' }}
            </div>
        </div>
        {{ form.bio|bootstrap }}
        <div class="row">
            <div class="col-md-10">
                {{ form.photo|bootstrap }}
            </div>
            <div class="col-md-2">
                <br>
                <button type="submit"  class="btn btn-success btn-lg">Salvar</button>
            </div>
        </div>
    </form>
         <div class="row">
            <div class="col-10">

            </div>
            <div class="col-2">
                <a href="{% url 'lista_clientes' %}" class="btn btn-light btn-sm" id="button-newclient" >Voltar</a>
            </div>
         </div>

{% endblock %}
